.gradient
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,97,108,0) 66%);
}

h1
{
    padding: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
    font-size: 60px;
    color: white;
}

.dolt {
    font-style: italic;
}

h2 {
    margin-top: 30px;
}

.kepfelirat {
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    color: #444;
    margin-top: 12px;
}

#jobboszlop {
    background-color: #333;
    color: white;
}

.keretes {
    border: 6px solid white;
    margin: 20px 0px auto;
}

li {
    line-height: 2em;
}
.fk {
    font-weight: bold;
    
}